body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: azure;
}

.container {
    width: 500px;
    height: 500px;
    margin: 50px auto;
    display: flex;
}

.calendar {
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#bulan-tahun {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.column {
    flex-basis: 14%;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
}

.day{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: aqua;

}

.today {
    background-color: darkcyan;
    border-radius: 5px;
}